<% layout("layouts/boilerplate") %> 
   

  <!-- Title -->
  <div class="max-w-full mx-auto px-4 py-6">
    <h2 class="text-2xl font-semibold"><%= listing.title %></h2>
  </div>

  <!-- Gallery -->
  <div class="max-w-full mx-auto px-2 mb-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <!-- Big image -->
      <div>
        <img src="<%= listing.image.url %>" class="w-full h-full object-cover rounded-xl" alt="Main">
      </div>

      <!-- Small images grid -->
      <div class="grid grid-cols-2 gap-2">
        <img src="<%= listing.image.url %>" class="rounded-xl object-cover w-full h-full">
        <img src="<%= listing.image.url %>" class="rounded-xl object-cover w-full h-full">
        <img src="<%= listing.image.url %>" class="rounded-xl object-cover w-full h-full">
        <div class="relative">
          <img src="<%= listing.image.url %>" class="rounded-xl object-cover w-full h-full">
          <!-- <button class="absolute bottom-2 right-2 bg-white px-3 py-1 rounded-lg shadow text-sm font-medium">
            Show all photos
          </button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Info Row -->
   <div class="max-w-10xl mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-6">
     <span>  Created By <%= listing.admin.username %></span>
   </div>
  
  <div class="max-w-10xl mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-6">
    
    
    <!-- Left content -->
    <div class="md:col-span-2">
      <h5 class="text-lg font-medium"><%= listing.location %>, <%= listing.country %></h5>
      <p class="text-gray-600">4 guests · 1 bedroom · 1 bed · 1 bathroom</p>

      <div class="flex gap-4 my-4">
        <div class=" rounded-xl px-1 py-1  text-sm">
         <%= listing.description %>
        </div>
       
      </div>
    </div>

    <!-- Right price box -->
    <div>
      <div class="border rounded-xl p-5 shadow-md sticky top-20">
        <p class="text-pink-600 font-medium mb-2">Rare find! This place is usually booked</p>
        <h4 class="text-xl font-semibold"><%= listing.price %> <span class="text-gray-500 font-normal text-sm text-base"> for 2 nights</span></h4>
        <button class="mt-4 w-full bg-pink-600 hover:bg-pink-700 text-white py-2 rounded-lg font-medium">
          Reserve
        </button>
      </div>
    </div>
  </div>
<!--   
  Listing Editing Button -->
  <% if (currentUser && currentUser._id.equals(listing.admin._id)) { %>
  <div class=" flex gap-4 my-4">
    <form action="/<%= listing._id %>/edit" method="GET">
        <button  class="bg-[#ff385c]  px-3 py-2 text-white" type="submit">Edit </button>
    </form>
    <form action="/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="bg-black rounded-lg px-3 py-2 text-white" type="submit">Delete</button>
    </form>
    </div>
     <hr>
  <% } %>

  <!-- Reviews and actions -->
  
   <% if (currentUser) { %>
  <div class="reviews-form max-w-full mx-auto p-6 bg-white shadow-md rounded-lg">
  <h3 class="text-2xl font-semibold mb-4">Leave a Review</h3>

  <form class="grid grid-cols-1 gap-4 needs-validation" action="/<%=listing._id%>/reviews" method="POST"
     novalidate>
    
   
   

    <!-- Rating -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Rating:</label>
      <fieldset class="starability-grow">
   <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
      
      

    <!-- Comment -->
    <div>
      <label for="reviewComment" class="block text-sm font-medium text-gray-700">Comment</label>
      <textarea id="reviewComment" name="review[comment]" class="form-control" rows="4" minlength=10
        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Write your thoughts..." required></textarea>
      <p class="text-sm text-red-500 mt-1 hidden">Please enter a comment.</p>
    </div>

    <!-- Submit Button -->
    <div>
      <button type="submit"
        class="inline-flex mt-4 items-center gap-2 bg-[#ff385c] text-white px-4 py-2 rounded-md hover:bg-blue-700 transition">
        <i class="bi bi-send-fill"></i> Post Review
      </button>
     
    </div>

  </form>
</div>
</div>
<%}%>
 <hr>
  <div class="reviews-form max-w-full mx-auto p-6 bg-white rounded-lg">
  <h3 class="text-2xl font-semibold mb-4">Reviews</h3>
    <% if (!listing.reviews.name){ %>
    <h5 class="text-gray-600">No reviews yet. Be the first to review!</h5>
    <% } %>
  <ul>
  <% listing.reviews.forEach(review => { %>
    <li>
      <div class="card-body mt-4 border-1 border-gray-300 px-6! py-4! rounded-lg shadow-sm">
     <h4 class="items-center">
  <%= review.author.username %> 
 <p class="starability-result" data-rating="<%= review.rating %>"></p>
</h4>
        <p class="card-text"><%= review.comment %></p>
        
      <p class="text-sm text-gray-500"><%= review.createdAt.toDateString() %> </p>
      <% if( currentUser && currentUser._id.equals(review.author._id)) { %>
       <form action="/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
        <button class="bg-black rounded-lg px-3 py-2 text-white" type="submit">Delete Review</button>
      </form>
      <% } %>

      
      </div>
    </li>
  <% }) %>
</ul>

 
  </div>




<script src="/js/reviews.js"></script>